body {
    background-color: rgb(47, 47, 47);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a {
    color: rgb(88, 182, 0);
    text-decoration: none;
}

button {
    color: white;
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
    border-style: none;
    margin: 2px;
    padding: 5px;
}

.centered {
    display: flex;
    justify-content: center;
}

.go-button {
    margin: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
}

.game-go-button {
    margin: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
}

.playernameinput {
    padding-right: 20px;
}

.joinedplayernames {
    list-style-type: none;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 67, 0);
}

.card-deck {
    display: flex;
    justify-content: center;
    height: 250px;
}

.card {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    width: 150px;
    height: 200px;
    display: grid;
    place-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(74, 74, 74);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    position: absolute;
}